.DS_Store
encoder-test-core/target/
encoder-test-core/.classpath
encoder-test-core/.project
encoder-test-core/.settings
encoder-test-wrapper/target/
encoder-test-wrapper/.classpath
encoder-test-wrapper/.project
encoder-test-wrapper/.settings
